---
import GameCard from "./GameCard.astro";
import { games } from "./games.ts";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="作品紹介">
  <section>
    <h2 class="my-2 text-2xl font-bold md:text-3xl">作品集</h2>

    <div class="grid grid-cols-2 gap-4 px-2 md:grid-cols-3 lg:grid-cols-4">
      {games.map((game) => <GameCard gameData={game} />)}
    </div>
  </section>
</Layout>
