---
import ActivityCard from "./ActivityCard.astro";
---

<section>
  <h2 class="my-2 text-3xl font-bold">活動内容</h2>
  <ActivityCard
    title="プログラミング"
    description="プログラムでアイデアを形にしよう。"
    activityExamplesText="ゲーム制作、競技プログラミング、Web開発など"
    class="bg-sky-100 text-blue-600"
  />
  <ActivityCard
    title="DTM"
    description={"あなたの音楽で感動を届けよう。\n発表会でみんなに共有しよう。"}
    activityExamplesText="作曲など"
    class="bg-purple-100 text-violet-500"
  />
  <ActivityCard
    title="グラフィック"
    description="デザインでアイデアを表現しよう。"
    activityExamplesText="イラスト、3DCGなど"
    class="bg-pink-100 text-fuchsia-500"
  />

  <div class="my-2">
    <p>各メンバーが多種多様な創作活動を行っています。</p>
    <p>これ以外にも、あなたが興味を持った活動ができます！</p>
  </div>

  <a
    href="/"
    class="my-2 inline-flex rounded-full bg-pink-600/90 px-6 py-3 shadow-md/50 transition-transform duration-100 hover:-translate-y-1 focus:outline-none focus-visible:ring-2 focus-visible:ring-pink-600/90 focus-visible:ring-offset-2 active:translate-y-0.5"
  >
    <span class="text-base font-bold text-white">活動内容をもっと見る <span aria-hidden="true">&rarr;</span></span>
  </a>
</section>
