<div class="relative overflow-hidden">
  <!-- Background Circles -->
  <div class="absolute top-[15px] -right-[80px] z-0 h-[196px] w-[196px] rounded-full bg-[#F0F5EF]"></div>
  <div class="absolute -bottom-[50px] left-[120px] z-0 h-[176px] w-[176px] rounded-full bg-[#F9EDF2]"></div>
  <div class="absolute -top-[50px] left-[50px] z-0 h-[148px] w-[148px] rounded-full bg-[#EBEFF6]"></div>

  <!-- Content -->
  <div class="relative z-10 mt-4 mr-auto mb-[30px] ml-5 flex flex-col gap-4">
    <h1 class="text-2xl leading-[1.2] font-bold">
      デジタルで<br />
      <span class="text-[#24AD48]">つくる、</span>
      <span class="text-[#54AD24]">あそぶ、</span><br />
      <span class="text-[#3E32ED]">つながる。</span>
    </h1>

    <p class="text-base leading-[1.2] font-normal text-[#333]">
      CCS（千葉大学電子計算機研究会）は、<br />
      ゲーム制作を中心に、プログラミング、<br />
      DTM、グラフィックなどの創作活動を行っています。
    </p>

    <div class="flex flex-col items-start gap-4">
      <a href="/activities" class="inline-block">活動内容を見る &rarr;</a>
      <a href="/join" class="inline-block rounded-[30px] border-2 border-[#3195f3] bg-white px-4 py-2 text-[#3195f3]">
        入会する &rarr;
      </a>
    </div>
  </div>
</div>
