---
import Button from "../../components/Button.astro";
---

<div class="relative overflow-hidden">
  <div
    class:list={[
      "absolute -z-10 rounded-full bg-slate-100",
      "-top-[10%] left-[10%] size-44",
      "md:size-56",
      "xl:left-[20%]",
      "2xl:left-[25%] 2xl:size-80",
    ]}
    aria-hidden="true"
  >
  </div>
  <div
    class:list={[
      "absolute -z-10 rounded-full bg-pink-50",
      "-bottom-[10%] left-[25%] size-48",
      "md:left-[30%] md:size-56",
      "lg:-bottom-[15%] lg:size-64",
      "2xl:left-[40%] 2xl:size-72",
    ]}
    aria-hidden="true"
  >
  </div>
  <div
    class:list={[
      "absolute -z-10 rounded-full bg-green-50",
      "top-[10%] -right-[10%] size-44",
      "md:right-[10%] md:size-56",
      "lg:size-64",
      "2xl:-top-[5%] 2xl:right-[20%] 2xl:size-96",
    ]}
    aria-hidden="true"
  >
  </div>

  <section class="relative mx-5 my-8 md:mx-auto md:my-12 md:w-4/5 xl:my-16 xl:w-2/3 2xl:w-1/2">
    <h1 class="text-2xl font-extrabold md:text-3xl lg:text-4xl 2xl:text-5xl/14">
      デジタルで<br />
      <span class="text-green-600">つくる、</span>
      <span class="text-lime-600">あそぶ、</span><br />
      <span class="text-indigo-600">つながる。</span>
    </h1>

    <p class="mt-4 md:mt-6 xl:mt-8 2xl:mt-10 2xl:text-lg">
      CCS（千葉大学電子計算機研究会）は、<br />
      ゲーム制作を中心に、プログラミング、<br />
      DTM、グラフィックなどの創作活動を行っています。
    </p>

    <div class="mt-6 flex flex-col items-start gap-4 md:flex-row">
      <Button href="/activities" class="border-2 border-blue-500 bg-blue-500 text-white focus-visible:ring-blue-500">
        <span>活動内容を見る<span aria-hidden="true">&rarr;</span></span>
      </Button>
      <Button
        href="/join"
        class="border-2 border-blue-500 bg-white text-blue-500 transition-colors focus-visible:ring-blue-500"
      >
        <span>入会する<span aria-hidden="true">&rarr;</span></span>
      </Button>
    </div>
  </section>
</div>
