---

---

<section>
  <h2 class="my-2.5 text-2xl font-bold">入会について</h2>
  <p class="my-2.5 text-base">以下より入会申請をお願いいたします。</p>
  <p class="my-2.5">
    <a
      href="/"
      class="inline-flex rounded-full bg-[#5850C9] px-6 py-3 shadow-md/50 transition-all duration-100 hover:-translate-y-1 focus-visible:ring-4 focus-visible:ring-[#5850C9] focus-visible:ring-offset-2 active:translate-y-0.5"
    >
      <span class="text-base font-bold text-white">入会申請はこちら →</span>
    </a>
  </p>
</section>
