---
import Button from "../../components/Button.astro";
---

<section>
  <h2 class="my-2 text-2xl font-bold md:mb-4 md:text-3xl">入会について</h2>
  <p>以下より入会申請をお願いいたします。</p>
  <Button href="/contact#join" class="mt-6 bg-indigo-600 text-white shadow-indigo-600/50 focus-visible:ring-indigo-600">
    <span>入会申請はこちら <span aria-hidden="true">&rarr;</span></span>
  </Button>
</section>
