---
import Button from "../../components/Button.astro";
---

<div class="px-5 py-2">
  <h2 class="mb-3 ml-4 text-xl font-bold">News</h2>
  <slot />
  <Button class="mb-7 ml-4 bg-purple-600" href="/news">すべてのNewsを見る &rarr;</Button>
</div>
