---
import Button from "../../components/Button.astro";
---

<section>
  <h2 class="my-2 text-2xl font-bold md:mb-4 md:text-3xl">News</h2>
  <slot />
  <Button class="mt-6 bg-purple-600 text-white shadow-purple-600/50 focus-visible:ring-purple-600" href="/news"
    >すべてのNewsを見る<span aria-hidden="true">&rarr;</span></Button
  >
</section>
