@import "tailwindcss";

a.button {
  width: fit-content;
  height: 50px;
  padding: 15px 18px;
  border-radius: 30px;
  background-color: #3195f3;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  color: #f9f6ef;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
}
