---
import Activity from "../components/Activity.astro";
import CatchCopy from "../components/CatchCopy.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Join from "../components/Join.astro";
import Location from "../components/Location.astro";
import News from "../components/News.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <CatchCopy />
    <News />
    <Activity />
    <Location />
    <Join />
    <Footer />
  </main>
</Layout>
