---
import Activities from "./_components/Activities.astro";
import CatchCopy from "./_components/CatchCopy.astro";
import Join from "./_components/Join.astro";
import Location from "./_components/Location.astro";
import News from "./_components/News.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to CCS!">
  <main class="flex-1">
    <CatchCopy />
    <News />
    <Activities />
    <Location />
    <Join />
  </main>
</Layout>
