<div class="news-root">
  <h2>News</h2>
  <slot />
  <div class="button">
    <a href="/news" aria-label="すべてのNewsを見る"></a>
    すべてのNewsを見る &rarr;
  </div>
</div>
<style>
  .news-root {
    padding: 8px 20px;
  }

  h2 {
    margin: auto auto 14px 16px;

    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
  }

  .button {
    width: fit-content;
    height: 50px;
    padding: 15px 18px;
    border-radius: 30px;
    margin: auto auto 28px 16px;
    display: flex;
    align-items: center;
    position: relative;
    background: #9c2fcf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    color: #f9f6ef;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
  }

  .button a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
</style>
